
<% if message.user.id == @user.id %>
<div id="message-user" data-chatroom-subscription-target="messages" data-action="chatroom->subscription#appendMessage">
  <small>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>

<% else %>
<h1>BUDDY MESSAGE</h1>
<div id="message-buddy" data-chatroom-subscription-target="messages" data-action="chatroom->subscription#appendMessage">
  <small>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
<% end %>