<%= render "shared/navbar" %>
<%# ---------div for image--------- %>
  <div class= "show-image">
    <img class= "img-circle-large" src="<%= @album_image %>" alt=""></p>
  </div>

<%# ---------div for buttons--------- %>
<%= render "shared/bar_2btn_sorting" %>

<%# ------Render INFO or STATS--------- %>
<% if  %>
  
<% end %>
<%= render "song-info" %>
