// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4; /* primary */




$background-color: #1D1D1D;
$font-color: #FFFFFF;
$buttons-color: #FFB9FC;

// purples
$purple-1: #F7EBFD;
$purple-2: #E6C9F8;
$purple-3: #D5A7F3;
$purple-4: #C486EE;
$purple-5: #B364E9;
$purple-6: #A243E4;
$purple-7: #9111DF;
$purple-8: #7A00C9;
$purple-9: #6600A6;
$purple-10: #520080;

// pinks
$pink-1: #FDEBFC;
$pink-2: #F9C9F8;
$pink-3: #F6A7F3;
$pink-4: #F386EE;
$pink-5: #F064E9;
$pink-6: #ED43E4;
$pink-7: #EA11DF;
$pink-8: #D900C9;
$pink-9: #B600A6;
$pink-10: #920080;

// greyscale
$grey-1: #F4F4F4;
$grey-2: #E0E0E0;
$grey-3: #BDBDBD;
$grey-4: #9E9E9E;
$grey-5: #757575;
$grey-6: #616161;
$grey-7: #424242;
$grey-8: #212121;
$grey-9: #000000;
