<div class="container-cards-medium">
  <div class="card-medium">
    <div>
      <h2>Ranking listened All time</h2>
    </div>
    <hr>
    <div>
    <p>text</p>
    </div>
  </div>

  <div class="card-medium">
    <div>
      <h2>Ranking listened 6 months</h2>
    </div>
    <hr>
    <div>
    <p>text</p>
    </div>
  </div>
</div>

<div class="card-big">
  <div>
    <h2>In Depth Data:</h2>
  </div>
  <hr>
  <div>
    <ul>
      <li>Release date: </li>
      <li>Release date: Not available</li>
      <li>Genre: </li>
    </ul>
  </div>
</div>
