<div class="container-cards-medium">
  <div class="card-medium">
    <div>
      <h2>Ranking listened All time</h2>
    </div>
    <div>
    <p>text</p>
    </div>
  </div>

  <div class="card-medium">
    <div>
      <h2>Ranking listened 6 months</h2>
    </div>
    <div>
    <p>text</p>
    </div>
  </div>
</div>

<div class="card-big">
  <div>
 <h1>Genres:</h1>
<ul>
  <% @artist_genres.each do |genre| %>
    <li><%= genre %></li>
  <% end %>
</ul>
  </div>
</div>
