<%# ---------div for short buttons--------- %>
<div class="divs-center ">
    <div class="show-filter">
      <div class= "show-tracks">
        <button class="" style="padding: 10px 28px; font-size: 18px; border-radius: 3px; color: white; background-color: transparent; border: none; transition: all 0.2s ease-in-out;" data-action="click->switch-button#switchToSongs">Tracks</button>
      </div>

      <div class= "show-artists">
        <button class="" style="padding: 10px 28px; font-size: 18px; border-radius: 3px; color: white; background-color: transparent; border: none; transition: all 0.2s ease-in-out;" data-action="click->switch-button#switchToArtists">Artists</button>
      </div>

      <div class= "show-albums" >
        <button class="button-active" style="padding: 10px 28px; font-size: 18px; border-radius: 3px; color: white; background-color: transparent; border: none; transition: all 0.2s ease-in-out;" data-action="click->switch-button#switchToAlbums">Albums</button>
      </div>

      <div class= "show-all">
        <button class="" style="padding: 10px 28px; font-size: 18px; border-radius: 3px; color: white; background-color: transparent; border: none; transition: all 0.2s ease-in-out;" data-action="click->switch-button#switchToAll">All</button>
      </div>
    </div>
</div>
