<%# ---------div for short buttons--------- %>
<div class="divs-center">
  <div class="show-filter-5btn">
    <div class= "show-albums" data-action="click->switch-button#switchToAlbums">
      <button class= "btn-small-5">Albums</button>
    </div>

    <div class= "show-artists" data-action="click->switch-button#switchToArtists">
      <button class= "btn-small-5">Artists</button>
    </div>

    <div class= "show-tracks" data-action="click->switch-button#switchToSongs">
      <button class= "btn-small-5">Tracks</button>
    </div>

    <div class="show-playlists" data-action="click->switch-button#switchToPlaylists" >
      <button class= "btn-small-5">Playlists</button>
    </div>

    <div class= "show-all"data-action="click->switch-button#switchToAll">
      <button class= "btn-small-5" >All</button>
    </div>
  </div>
</div>
