
<%# ---------div for long flat buttons--------- %>
<div class="show-sorting">
  <div class= "show-infos" data-action="click->switch-button#switchToInfo">
    <button class= "btn-flat-long button-active">Infos</button>
  </div>
  <div class= "show-stats" data-action="click->switch-button#switchToStats">
    <button class= "btn-flat-long">Stats</button>
  </div>
</div>
