<%# ---------div for short buttons--------- %>
<div class="divs-center">
  <div class="show-filter">
    <div class= "show-albums">
      <button class= "btn-small-5" data-action="click->switch-button#switchToAlbums">Albums</button>
    </div>

    <div class= "show-artists">
      <button class= "btn-small-5" data-action="click->switch-button#switchToArtists">Artists</button>
    </div>

    <div class= "show-tracks">
      <button class= "btn-small-5" data-action="click->switch-button#switchToSongs">Tracks</button>
    </div>

    <div class="show-playlists">
      <button class= "btn-small-5"  data-action="click->switch-button#switchToPlaylists">Playlists</button>
    </div>

    <div class= "show-all">
      <button class= "btn-small-5 button-active" data-action="click->switch-button#switchToAllOfIt">All</button>
    </div>
  </div>
</div>
