<%# ---------div for short buttons--------- %>
<div class="divs-center">
  <div class="show-filter">
    <div class= "show-albums">
      <button class= "btn-small">Albums</button>
    </div>

    <div class= "show-artists">
      <button class= "btn-small">Artists</button>
    </div>

    <div class= "show-tracks">
      <button class= "btn-small">Tracks</button>
    </div>

    <div class= "show-all">
      <button class= "btn-small" >All</button>
    </div>
  </div>
</div>
