<%# ---------div for short buttons--------- %>
<div class="divs-center">
  <div class="show-filter">
    <div class= "show-albums" >
      <button class= "btn-small button-active" data-action="click->switch-button#switchToAlbums">Albums</button>
    </div>

    <div class= "show-artists">
      <button class= "btn-small" data-action="click->switch-button#switchToArtists">Artists</button>
    </div>

    <div class= "show-tracks">
      <button class= "btn-small" data-action="click->switch-button#switchToSongs">Tracks</button>
    </div>

    <div class= "show-all">
      <button class= "btn-small" data-action="click->switch-button#switchToAll">All</button>
    </div>
  </div>
</div>
