<div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
  <% if @recommendations.present? %>
    <% @recommendations[0].tracks.each do |track| %>
      <%= link_to track_path(id: track.uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do %>
        <div class= "card-small" style="width: 164px; height: 120%;">
          <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(track.album.images[0]['url'], alt: track.name, class: "card-small-image", style:"width: 164px; height: 164px;") %></div>
          <div class="card-small-text" style="height: 18px;"><p><%= track.name %></p></div>
          <div class="card-small-text-small"><%= track.artists[0].name %></div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No recommendations available.</p>
  <% end %>
</div>
