
<%# ---------div for long flat buttons--------- %>
<div class="show-sorting">
  <div class= "show-infos">
    <button class= "btn-flat-long">Infos</button>
  </div>
  <div class= "show-stats">
    <button class= "btn-flat-long">Stats</button>
  </div>
</div>