  <div class="container-cards-medium">
  <div class="card-medium">
    <div>
      <h2>Popularity Score:</h2>
    </div>
    <div>
    <p><%= @popularity%>/100</p>
    </div>
  </div>

  <div class="card-medium">
    <div>
      <h2>Album length:</h2>
    </div>
    <div>
    <p><%= @formatted_duration %></p>
    </div>
  </div>
</div>
