  <div class="container-cards-medium">
  <div class="card-medium">
    <div>
      <h2>Popularity Score</h2>
    </div>
    <hr>
    <div>
    <%= @popularity%>/100
    </div>
  </div>

  <div class="card-medium">
    <div>
      <h2>Album length</h2>
    </div>
    <hr>
    <div>
    <%= @formatted_duration %>
    </div>
  </div>
</div>
