<div class="card-big">
  <div>
    <h2>Saved Albums</h2>
  </div>
  <hr>
  <div>
    <ul>
      <% if @user_albums.empty? %>
        <li>No saved albums yet</li>
      <% else %>
        <li>
          <% @user_albums.each do |album| %>
            <%= album.instance_variable_get(:@name) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
