<div id="footer">

  <div>
  <div class="home">
    <%= link_to "ðŸ ", root_path, class: "nav-link" %>
  </div>
  </div>

  <div>
  <div class="search">
    <%= link_to "ðŸ”", class: "nav-link" %>
  </div>
  </div>

  <div>
  <div class="profile">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
  </div>
  </div>
</div>
