<%# ------ Navbar ------- %>
<div class="navbar-beatween">
  <div class="container-navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "beatween-logo.png" %>
    <% end %>

    <%= link_to qr_page_path, id: "qr-code" do %>
      <div id="qr-code">
        <i class="fa-solid fa-qrcode"></i>
      </div>
    <% end %>
  </div>

  <div class="divs-center" style="position: relative;">
      <h1 style="position: absolute; font-size: 36px; font-weight: 700; left: 50%; transform: translate(-50%, -65%); margin: 0;">Beatween</h1>
  </div>
</div>
