<%# ------camera & clock space on phone------ %>
<div id="clock-space">

</div>

<%# ----------navbar----------- %>
<div class="navbar">
  <div class="container-fluid">
    <%= image_tag "beatween-logo" %>

    <div id="qr-code">

    </div>
  </div>
</div>
