<h2>New Releases</h2>
<%= render "shared/new_releases_carousel" %>

<h2>Trending songs</h2>
<%= render "shared/trending_tracks_carousel" %>
<br>
<%= render "shared/search_bar" %>
<div id="discover-main-content" data-search-bar-target="search-bar.mainContent">

</div>
