<div class="container-btn-md-users">
  <div class="btn-md-users ">
  <%= image_tag "compatibility_icon_pink.png" %>
  </div>

  <a href="" class="btn-md-users ">
  <i class="fa-solid fa-plus fa-4x" style="color: #ed43e4;"></i>
  </a>
</div>
