<%# ---------div for image--------- %>
  <div class= "show-image">
    <img class= "img-circle-large" src="<%= @album_image %>" alt=""></p>
  </div>

<%# ---------div for buttons--------- %>
<div class="show-sorting">
  <div class= "show-infos">
    <button class= "btn-flat-long">Infos</button>
  </div>
  <div class= "show-stats">
    <button class= "btn-flat-long">Stats</button>
  </div>
</div>

<%= render "shared/card_medium" %>

<%= render "shared/card_big" %>
