<%= render "shared/navbar" %>

<div style="margin-top: 180px;">
  <h1 class="divs-center">Page Not Found</h1>
  <p class="divs-center" style="text-align: center; margin: 0 auto; width: 300px;">We're sorry, but the page you were looking for doesn't exist.</p>
</div>
<div class="divs-center" style="margin-top: 20px;">
  <%= image_tag "404.jpeg", style:"width: 300px; height: 300px;"%>
</div>
