<%= render "shared/navbar" %>
<div style="display: flex; justify-content: center; align-items: center; height: 85vh; background-color: #fda3c4;">
  <div class="divs-center">
    <%= image_tag "404.jpeg", style:"width: 300px; height: 300px;"%>
  </div>
</div>
