// ---------- for bar-2btn--flat-long ----------
// put both btns within a div with class show-sorting
.show-filter {
  display: flex;
  align-items: center;
  border-top: 2px solid $grey-7;
  border-bottom: 2px solid $grey-7;
  margin-top: 2*$unit;
  margin-bottom: 2*$unit;
}

.show-sorting{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $grey-3;
  border-bottom: 2px solid $grey-3;
  margin-top: 2*$unit;
  margin-bottom: 2*$unit;
}

.btn-flat-long {
  width: 214px;
  padding: 17px;
  font-size: 3*$unit;
  color: white;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;


  &:hover {
    background-color: $pink-5;
    border: 1px solid $grey-3;
  }
  &:active {
    background-color: $pink-5;
    border: 1px solid $grey-3;
  }
  &:disabled {
    background-color: $grey-3;
    border: none;
  }
}

// ----- For the match and add friend btns------
.btn-md-users {
  background-color: $background-color;
  display: inline-flex;
  padding: 8px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 8px;
  max-width: 15%;

  img {
    width: 100px;
    height: 100px;
  }

  a {
    text-decoration: none;
  }
}

//.btn-small{
//}
// ---------- for btn-small ----------
// put all filter btns within a div with class show-filter


.btn-small{
  padding: 10px 28px;
  font-size: 16px;
  border-radius: 3px;
  color: $grey-1;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $grey-3;
    border: 1px solid $grey-3;
  }
  &:active {
    background-color: $pink-5;
    border: none;
  }
  &:disabled {
    background-color: $grey-1;
    border: none;
  }
}

.btn-medium-pink{
  padding: $unit;
  height: 6*$unit;
  width: 100%;
  margin: 0;
  font-size: 3*$unit;
  border-radius: $unit;
  color: $grey-7;
  background-color: $pink-3;
}
// ---------- for filter 5 btns ----------

.btn-small-5{
  padding: $unit;
  height: 6*$unit;
  width: 15*$unit;
  margin-right: $unit;
  font-size: 3*$unit;
  border-radius: 2*$unit;
  color: $grey-7;
  background-color: $buttons-color;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $grey-3;
    border: 1px solid $grey-3;
  }
  &:active {
    background-color: $pink-5;
    border: 1px solid $grey-3;
  }
  &:disabled {
    background-color: $grey-3;
    border: none;
  }
}

.button-pink-beatween {
  background-color: $pink-3;
  color: $grey-8;
  width: 50%;
  margin: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-self: center;
  &:hover {
    background-color: $purple-8;
    color: $font-color;
    box-shadow: 2px 2px 3px 1px $pink-5;
  }
}
.button-active {
  background-color: $pink-5;
}
