.card-medium {
  background-color: $grey-7;
  color: $font-color;
  border: 1px solid $pink-6;
  border-radius: 5px;
  width: 40%;
  margin: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
}

.card-big {
  background-color: $grey-7;
  color: $font-color;
  border: 1px solid $pink-6;
  border-radius: 5px;
  width: 86%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.card-big h2 {
  text-align: center;
}

.card-big hr {
  width:  75%;
  margin: 24px auto;
  border: 0.5px solid $pink-5;
}

.card-medium hr {
  width:  75%;
  margin: 24px auto;
  border: 0.5px solid $pink-5;
}
