
// ----- card small & scrolling wrapper-------

.trends {
  margin-top: 2*$unit;
  margin-bottom: 2*$unit;
  align-items: center;
}

.scrolling-wrapper-flexbox {

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 10px;
  padding-bottom: 30px;
  height: 200px;

  .card-small {
    margin-right: 10px;
    display: flex;
    flex: 0 0 auto;
  }
}

.card-small {
  width: 130px;
  height: 180px;
  flex-direction: column;
  p {
    margin: 0;
    margin-top: 3px;
  }
}

.card-small-image {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.card-small-text {
  color: white;

  width: 120px;
  height: 18px;

  font-family: Exo 2;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-small-text-small {

  color: rgba(255, 255, 255, 0.80);
  font-family: Exo 2;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

// --------card medium ----------
// note: your card title should not go over 2 lines
.song_title {
  text-align: center;
  margin: 0;
  margin-top: 16px;
  margin-bottom: -4$unit;
  font-size: 32px;
  font-weight: 400;
  color: $pink-3;
}

.album-title {
  text-align: center;
  margin: 0;
  margin-top: 16px;
  margin-bottom: -4*$unit;
  font-size: 32px;
  font-weight: 400;
  color: $pink-3;
}

.artist-title {
  text-align: center;
  margin: 0;
  margin-bottom: -4*$unit;
  font-size: 4*$unit;
  font-weight: 400;
  color: $pink-3;
}
.card-medium {
  color: $font-color;
  padding: 2*$unit $unit;
  margin: $unit $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-medium h2 {
  text-align: center;
  text-decoration: underline;
  padding: 2*$unit $unit;
}

// ----- card big -------

.card-big {
  color: $font-color;
  margin: 0 auto;
  padding: 2*$unit $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  opacity: 0.5;
}

.card-big h2 {
  text-align: center;
  text-decoration: underline;
}
