// --------card medium ----------
// note: your card title should not go over 2 lines

.card-medium {
  background-color: $grey-7;
  color: $font-color;
  border: 1px solid $pink-6;
  border-radius: 5px;
  width: 40*$unit;
  margin: 3*$unit $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
}

.card-medium hr {
  width:  75%;
  margin: 24px auto;
  border: 0.5px solid $pink-5;
}

// ----- card big -------

.card-big {
  background-color: $grey-7;
  color: $font-color;
  border: 1px solid $pink-6;
  border-radius: $unit;
  width: 83*$unit;
  height: 50*$unit;
  margin: 0 auto;
  padding: 2*$unit $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.card-big h2 {
  text-align: center;
}

.card-big hr {
  width:  75%;
  margin: 3.5*$unit auto;
  border: 0.5px solid $pink-5;
}
