#logout-icon{
  position: absolute;
  top: 5%;
  left: 90%;
  color: $buttons-color;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $pink-5;
  }
  &:active {
    color: $pink-5;
  }
  &:disabled {
    color: $grey-3;
  }
}
