.back-icon {
  color: $buttons-color;
  position: absolute;
  top: 90px;
  left: 30px;
  font-size: 22px;
}

#logout-icon{
  position: absolute;
  top: -4%;
  left: 125%;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #FFB9FC;
  }
  &:active {
    color: #FFB9FC;
  }
  &:disabled {
    color: $grey-3;
  }
}
#match-icon{
  position: absolute;
  top: 30%;
  left: 23%;
  border: none;
  transition: all 0.2s ease-in-out;
  background-color: #1d1d1d;
  box-shadow: 0 0 10px #d5a7f3;


  &:hover {
    color: $pink-5;
  }
  &:active {
    color: $pink-5;
  }
  &:disabled {
    color: $grey-3;
  }
}
.spotify-button{
  padding: 3%;
  font-size: 3*$unit;
  border-radius: 2*$unit;
  background-color: lighten($background-color, 10%);
  border: solid 1px $pink-5;
  transition: all 0.2s ease-in-out;
  // formatting position
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  // Text on the thingy


  &:hover {
    background-color: darken($background-color, 10%);
    border: 1px solid $pink-5;
    span{
      color: $font-color;
    }
  }

  span{
    padding-left: 6px;
    flex-grow: 1; // This will make the span take up any remaining space
    white-space: nowrap;
    color: $font-color;
  }
  .spotify-icon{
    width: 20px;
    height: 20px;
  }
}

.icon-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 62%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #d5a7f3;
  color: #FFB9FC;
}

.fa-plus {
  font-size: 30px;
  text-align: center;
  margin: 0 10px;
  color: $pink-5;
}

.link-spotify-user {
  text-decoration: none;
  color: $pink-1;
  font-size: 25px;
}
