#logout-icon{
  position: absolute;
  top: -4%;
  left: 125%;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $pink-5;
  }
  &:active {
    color: $pink-5;
  }
  &:disabled {
    color: $grey-3;
  }
}
#match-icon{
  position: absolute;
  top: 2%;
  left: 18%;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $pink-5;
  }
  &:active {
    color: $pink-5;
  }
  &:disabled {
    color: $grey-3;
  }
}
.spotify-button{
  padding: $unit;
  height: 6*$unit;
  width: 39*$unit;
  font-size: 3*$unit;
  border-radius: 2*$unit;
  color: $gray;
  background-color: $buttons-color;
  border: none;
  transition: all 0.2s ease-in-out;
  // formatting position
  display: flex;
  justify-content: space-around;
  align-items: center;
  // Text on the thingy

  &:hover {
    background-color: $pink-5;
    border: 1px solid $grey-3;
  }
  &:active {
    background-color: $pink-5;
    border: 1px solid $grey-3;
  }
  &:disabled {
    background-color: $grey-3;
    border: none;
  }

  .spotify-icon{
    width: 20px;
    height: 20px;
  }
}

.icon-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-plus {
  font-size: 30px;
  text-align: center;
  margin: 0 10px;
  color: $pink-5;
}

.link-spotify-user {
  text-decoration: none;
  color: $pink-1;
  font-size: 25px;
}
