// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "img-circle";
@import "btn";
@import "wrap";
@import "cards";
@import "container";
@import "footer";
@import "icons";
@import "divs";
@import "qr-code";
@import "chat";
@import "search_bar";

body {
  background-color: $background-color;
  color: $font-color;
  margin-bottom: 70px;
  overflow-y: auto;
}
