form {
  text-align: center;
}

.form-inputs {
  margin-bottom: 20px;

  input {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  button {

    border-radius: 10px;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $pink-4;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
