#clock-space{
  height: $unit;
  background: $background-color;
}

.navbar-beatween {
  justify-content: space-between;
  background: white;
  height: 12*$unit;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 12*$unit;
  padding: 0 2*$unit;
  background: $background-color;
}

#qr-code {
  height: 6*$unit;
  width: 6*$unit;
  color: $font-color;
  object-fit: cover;
  object-position: center;

  .fa-qrcode{
    font-size: 36px;
  }
}

.navbar-brand img {
  width: 10* $unit;
  height: 10* $unit;
}
