#clock-space{
  height: $unit;
  background: $background-color;
}

.navbar-beatween {
  justify-content: space-between;
  background: $background-color;
  height: 12* $unit;
}

.container-navbar {
  position: fixed; // this sticks the navbar to the top of the page
  top: 0; // this makes sure the navbar is at the top of the page
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12* $unit;
  padding: 0 2* $unit;
  background: $background-color;
}

#qr-code {
  height: 6*$unit;
  width: 6*$unit;
  color: $font-color;
  object-fit: cover;
  object-position: center;

  .fa-qrcode{
    font-size: 6*$unit;
  }
}

.navbar-brand img {
  width: 10* $unit;
  height: 10* $unit;
}
