#clock-space {
  height: 5*$unit;
  background: $background-color;
  border: none;
}

.navbar{
  height: 12*$unit;
  justify-content: space-between;
  background: $background-color;

  .img {
    width: 10*$unit;
    margin-left: $unit;
  }
}



