.qr-code-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

.qr-code-wrapper {
  position: relative;
  width: 285px;
  height: 285px;
  margin-bottom: 8px;
}

.qr-code {
  width: 100%;
  height: 100%;
  // filter: invert(1); if we want the qr code to be white 

}

.qr-code-logo {
  position: absolute;
  width: 70px;
  left: 120px;
  top: 120px;
  top: 50%;  /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
}
