.three-value-wrap {
  display: flex;
  justify-content: space-between;

  .value{
    width: 28*$unit;
    height: 14*$unit;
    border-radius: 3*$unit;
    border: 1px solid $grey-3;
    padding: $unit;
    margin: $unit;

    p {
      font-size: 3*$unit;
      font-weight: 700;
      color: $grey-3;
      justify-content: center;
    }
  }
}